.description {
  width: 190em;
  border: 2px solid black;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 2px 5px 10px black;
}

.transparent_black {
  background-color: rgba(0, 0, 0, 0.562);
  padding: 40px;
  border-radius: 50px;
  border: 4px black solid;
  box-shadow: 5px 5px 25px black, inset 3px 3px 15px rgba(68, 68, 68, 0.788),
    inset 1px 10px 20px rgba(68, 68, 68, 0.788);
}
